<div class="mt-4">
    <h3 class="tracking-wider font-bold text-4xl md:text-4xl">Sửa Voucher</h3>
    <br>
    <form method="POST" action="">
        <div class="form-group">
            <label for="name" class="form-label">Voucher Code</label>
            <input type="text" class="form-control" value="{{voucher.code}}" name="code">
        </div>
        <div class="form-group">
            <label for="price" class="form-label">Giá trị voucher</label>
            <input type="text" class="form-control" value="{{voucher.value}}" name="value">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>