<footer class="bg-gray-800 footer-position">
  <div class = "main-footer">
          <div class = 'container'>
              {{!-- colum 1 --}}
                <div class = 'col col1'>
                <br>
                  <h4>Về chúng tôi</h4>
                  <br></br>
                  <ul>
                      <li>Giới thiệu</li>
                      <li>Giao hàng - Đổi trả</li>
                      <li>Chính sách bảo mật</li>
                      <li>Khác</li>
                  </ul> 
                </div>
                {{!--  colum 2 --}}
                <div class = 'col col2'>
                <br>
                  <h4>Thông tin cửa hàng</h4>
                  <br></br>
                  <ul>
                      <a href='about'><li><i class="fas fa-crown"></i>Clowns Store</li></a>
                      <a href="https://www.google.com/maps/place/144+Xu%C3%A2n+Th%E1%BB%A7y,+Mai+D%E1%BB%8Bch,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0368559,105.7801041,17z/data=!3m1!4b1!4m5!3m4!1s0x313454caaf9fa467:0x4cfd76cf514e1ce1!8m2!3d21.0368559!4d105.7822928"><li><i class="fas fa-map-marker-alt"></i>144 Xuân Thủy, Cầu Giấy</li></a>
                      <li><i class="fas fa-phone"></i>Hotline: 0123456789</li>
                      <li><i class="fas fa-mobile-alt"></i>Tổng đài hỗ trợ: 02453232</li>
                  </ul>
                </div>
                {{!-- colum 3 --}}
                <div class = 'col col3'>
                <br>
                  <h4>Liên hệ</h4>
                  <br></br>
                  <ul>
                      <a href='https://www.facebook.com/'><li><i class="fab fa-facebook-square"></i>Facebook</li></a>
                      <a href='https://www.google.com/intl/vi/gmail/about/'><li><i class="fas fa-envelope"></i>Gmail</li></a>
                      <a href='https://www.instagram.com/'><li><i class="fab fa-instagram"></i>Instagram</li></a>
                      <a href='https://twitter.com/?lang=vi'><li><i class="fab fa-twitter-square"></i>Twitter</li></a>
                  </ul>
              </div>
          </div>
    </div>
</footer>