<header>
  <div class="container">
  <div class="tw-container h-16 md:h-20 flex justify-between items-center">
    <a class="flex items-center gap-2 font-semibold text-blue-500" href="/">
      <i class="fa-2x fas fa-crown"></i>
      Clowns Store
      <br />
      Uy tín tạo nên thương hiệu
    </a>
    <nav class="hidden md:block">
      <ul class="flex gap-8">
        <li>
          <a aria-current="page" class="active" href="/">
            Home <i class="fas fa-home w-8 lg:w-7"></i>
          </a>
        </li>
        <li>
          <a href="/about">
            About <i class="fas fa-info w-8 lg:w-7"></i>
          </a>
        </li>
        <li>
          <a href="/products">
            Products <i class="fas fa-laptop-code"></i>
          </a>
        </li>

        {{#if (eq user undefined)}}
        <li>
          <a href="/users/login">
            Login <i class="far fa-user w-8 lg:w-7"></i>
          </a>
        </li>
        {{/if}}

      </ul>
    </nav>
    <div>
      <div class="hidden lg:flex gap-8">
        <a class="flex items-center gap-2 text-2xl lg:text-xl" href="/products/cart">
          Cart
          <div class="relative w-6">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
              </path>
            </svg>
            <div
              class="absolute w-6 h-6 text-sm text-blue-500 bg-blue bg-blue-500 lg:text-blue-50 rounded-full top-0 right-0 flex justify-center items-center transform translate-x-4 -translate-y-4">
                {{count}}
            </div>
          </div>
        </a>

        {{#if (ueq user undefined)}}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">{{user.email}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item" type="button" href="/users/information">Thông tin cá nhân</a></li>
            <li><a class="dropdown-item" type="button" href="/users/logout">Đăng xuất</a></li>
          </ul>
        </div>
        {{/if}}

      </div>
      <button class="btn-lg lg:hidden border-0 bg-transparent text-blue-500">
        <i class="fa-lg md:fa-2x fas fa-bars"></i>
      </button>
    </div>
  </div>
  <div
</header>