<section>
    <div class="tw-container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto w-full">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex ml-20">
                        <img src="https://img4.thuthuatphanmem.vn/uploads/2020/08/28/anh-bien-chu-welcome_094124627.jpg"
                            alt="Hình Ảnh Minh Họa">
                    </div>
                    <div class=" tw-container py-10 w-full">
                        <div class="noi-dung">
                            <div class="form">
                                <h2>Trang Đăng Nhập</h2>
                                <form method="POST" action="">
                                    <div class="input-form">
                                        <span>Email</span>
                                        <input type="text" name="email">
                                    </div>
                                    <div class="input-form">
                                        <span>Mật Khẩu</span>
                                        <input type="password" name="password">
                                    </div>
                                    <div class="nho-dang-nhap">
                                        <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
                                    </div>
                                    <div class="input-form text-center">
                                        <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                            type="submit">Đăng Nhập</button>
                                    </div>
                                    <div class="input-form">
                                        <p>Bạn Chưa Có Tài Khoản? <a href="/users/reg">Đăng Ký</a></p>
                                    </div>
                                </form>
                                <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
                                <ul class="icon-dang-nhap">
                                    <li><i class="fab fa-facebook" aria-hidden="true"></i></li>
                                    <li><i class="fab fa-google" aria-hidden="true"></i></li>
                                    <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>