<section>
     <!--Bắt Đầu Phần Hình Ảnh-->
     <div class="img-bg">
         <img src="https://i.pinimg.com/736x/e0/e3/45/e0e345fd5c9fcca2afc09951dcfbee50.jpg" alt="Hình Ảnh Minh Họa">
     </div>
     <!--Kết Thúc Phần Hình Ảnh-->
     <!--Bắt Đầu Phần Nội Dung-->
     <div class="noi-dung">
         <div class="form">
             <h2>Trang Đăng Nhập</h2>
             <form method="POST" action="">
                 <div class="input-form">
                     <span>Email</span>
                     <input type="text" name="email">
                 </div>
                 <div class="input-form">
                     <span>Mật Khẩu</span>
                     <input type="password" name="password">
                 </div>
                 <div class="nho-dang-nhap">
                     <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
                 </div>
                 <div class="input-form text-center">
                     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng Nhập</button>
                 </div>
                 <div class="input-form">
                     <p>Bạn Chưa Có Tài Khoản? <a href="/users/reg">Đăng Ký</a></p>
                 </div>
             </form>
             <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
             <ul class="icon-dang-nhap">
                 <li><i class="fab fa-facebook" aria-hidden="true"></i></li>
                 <li><i class="fab fa-google" aria-hidden="true"></i></li>
                 <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
             </ul>
         </div>
     </div>
     <!--Kết Thúc Phần Nội Dung-->
 </section>