<div id="root">
  <main>
    <section class="bg-blue-100">
      <div class="tw-container py-8 md:py-16 ml-10"><span class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-700"><a href="/">Home</a> / </span><span class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-900">About</span></div>
    </section>
    <section id="about" class="py-16">
      <div class="tw-container grid grid-cols-1 lg:grid-cols-2 gap-y-8 gap-x-16"><img alt="dining room" class="object-cover rounded w-full bg-gray-100" src="https://kenh14cdn.com/Images/Uploaded/Share/2010/11/05/ee5clowns00resize.jpg" style="height: 600px;">
        <article>
          <div>
            <h2 class="font-bold">Our Story</h2>
            <div class="w-24 h-1 mt-3 bg-blue-600"></div>
          </div>
          <p class="mt-5 text-sm md:text-base lg:text-lg leading-loose">- Clowns Store là một chuỗi các cửa hàng cung
            cấp thiết bị điện tử trong phạm vi cả nước, hợp tác kinh doanh hiệu quả với nhiều Công ty và thương hiệu
            lớn trên thế giới.<br>- Với triết lý " Chắc chắn cho tương lai", chúng tôi luôn hướng tới mục tiêu phát
            triển bền vững cho chính Công ty và cho khách hàng của mình.Chất lượng quốc tế cho người Việt Nam<br>- Giá
            trị này dẫn dắt sự thành công của Clowns Store tại nhiều quốc gia trên toàn cầu và cũng là động lực, niềm
            tự hào cho đội ngũ Clowns Store Việt Nam cùng nỗ lực vì cuộc sống dễ dàng và tốt đẹp hơn cho người
            Việt.<br>- Kinh doanh có trách nhiệm:<br>- Chúng tôi tin rằng một doanh nghiệp lớn mạnh luôn cần sự chung
            sức và đồng hành của tập thể gồm đối tác, nhân viên và cộng đồng và cũng là giá trị mà chúng tôi cân nhắc
            cho sự phát triển bền vững của Clowns Store Việt Nam. - Clowns Store được thành lập năm 2000 dưới tên gọi
            C.S, có trụ sở tại Hà Nội (VN). Khởi đầu là một đại lý điện thoại, Clowns Store sau đó bán thêm máy ảnh,
            TV, điều hoà và một số thiết bị điện tử khác. Tại thời điểm đó, ý tưởng kinh doanh mới này đáp ứng đúng
            nhu cầu khách hàng, là tiền đề cho khái niệm bán lẻ tiện lợi</p>
        </article>
      </div>
    </section>
  </main>
</div>