<body>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "770660943051693");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
<main>  
    <section id="showcase" class="py-16">
        <div class="tw-container grid lg:grid-cols-2 place-items-center gap-x-32">
            <article>
                <h1 class="tracking-wider font-bold text-4xl md:text-5xl">Trang mua sắm<br>đồ điện tử uy tín
                </h1>
                <p class="mt-8 max-w-lg leading-loose ">Clowns Store là trung tâm phân phối, bán lẻ thiết bị
                    điện tử, với nhiều kiểu dáng, mẫu mã đi cùng với chất lượng cao vào giá cả rất phải chăng
                    tại Hà Nội.</p><a class="btn px-6 py-3 bg-blue-500 text-white w-full md:w-max text-center mt-8" href="/products">Mua sắm ngay</a>
            </article>
            <article id="showcase-image" class="relative hidden lg:block"><img alt="dining-room-example" class="object-cover bg-gray-100 w-full rounded-md" src="https://vinaweb.vn/vinawebvn/upload/images/thiet-ke-website-ban-hang-vinaweb.jpg" style="height: 550px;"><img alt="media-shelves-room" class="z-30 bg-gray-100 transform -translate-x-2/4 absolute left-0 bottom-0  w-5/12 h-40 rounded-md" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJSCfJujWMZCIKxIs3g5dAqalA3e6BAfAIlQ&amp;usqp=CAU">
            </article>
        </div>
    </section>
    <div class="ant-col ant-col-24 adv box-sha-home bor-rad-8 m-b-32"><a href="https://www.apple.com/watch/" target="blank"><img class="adv-img w-100 bor-rad-8" src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608268459/others/1_iorzsj.webp"></a>
    </div>
    <section id="featured-products" class="bg-gray-100">
        <div class="tw-container py-14">
            <div>
                <h2 class="text-center font-bold text-3xl lg:text-4xl">Thương hiệu nổi bật</h2>
                <div class="mt-3 w-24 h-1 bg-blue-400 mx-auto"></div>
            </div>
            <div class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                <article>
                    <div class="relative h-56 rounded"><img alt="vase table" class="h-full rounded bg-black object-cover w-full" src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608268385/famous-brands/msi_zjnihe.webp">
                        <div class="absolute top-0 left-0 w-full h-full rounded transition-opacity duration-500 ease-in-out opacity-0 hover:opacity-100 flex justify-center items-center bg-opacity-40 bg-gray-800">
                            <a class="cursor-pointer relative w-10 h-10 text-white rounded-full bg-blue-500 p-2.5" href="https://vn.msi.com/"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512">
                                    <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                    <footer class="flex justify-between items-center mt-4 capitalize">
                        <h6 class="text-blue-500 tracking-wider">MSI</h6>
                        <p class="tracking-widest">Bé rồng đỏ siêu cute, gaming</p>
                    </footer>
                </article>
                <article>
                    <div class="relative h-56 rounded"><img alt="Utopia Sofa" class="h-full rounded bg-black object-cover w-full" src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608268384/famous-brands/lenovo_trmmkt.webp">
                        <div class="absolute top-0 left-0 w-full h-full rounded transition-opacity duration-500 ease-in-out opacity-0 hover:opacity-100 flex justify-center items-center bg-opacity-40 bg-gray-800">
                            <a class="cursor-pointer relative w-10 h-10 text-white rounded-full bg-blue-500 p-2.5" href="https://www.lenovo.com/vn/vn/"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512">
                                    <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                    <footer class="flex justify-between items-center mt-4 capitalize">
                        <h6 class="text-blue-500 tracking-wider">LENOVO</h6>
                        <p class="tracking-widest">Siêu ưu đãi cùng với LENOVO</p>
                    </footer>
                </article>
                <article>
                    <div class="relative h-56 rounded"><img alt="Entertainment Center" class="h-full rounded bg-black object-cover w-full" src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608268384/famous-brands/lg_yijaob.webp">
                        <div class="absolute top-0 left-0 w-full h-full rounded transition-opacity duration-500 ease-in-out opacity-0 hover:opacity-100 flex justify-center items-center bg-opacity-40 bg-gray-800">
                            <a class="cursor-pointer relative w-10 h-10 text-white rounded-full bg-blue-500 p-2.5" href="https://www.lg.com/vn"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512">
                                    <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                    <footer class="flex justify-between items-center mt-4 capitalize">
                        <h6 class="text-blue-500 tracking-wider">LG</h6>
                        <p class="tracking-widest">Sản phẩm siêu chất lượng</p>
                    </footer>
                </article>
            </div>
            <a href="/products">
                <button class="flex items-center justify-center btn-sm md:btn mt-16 mx-auto bg-blue-500 text-blue-50 font-semibold">Tất cả sản
                    phẩm</button>
            </a>
        </div>
    </section>
    <section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608134777/saleOff/carousels/12_crycbe.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608134778/saleOff/carousels/13_ytp67u.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/tuan-cloudinary/image/upload/v1608134535/saleOff/carousels/2_b1d6dd.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section id="newsletter">
        <div class="tw-container my-16 md:my-32 lg:my-64">
            <h2 class="font-bold">Theo dõi bảng tin và đăng kí để nhận voucher 20%</h2>
            <div class="grid grid-rows-2 lg:grid-rows-1 lg:grid-cols-2 items-center gap-x-32">
                <p class="leading-7 mt-8 max-w-lg opacity-60">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Placeat sint unde quaerat ratione soluta veniam provident adipisci cumque eveniet
                    tempore?</p>
                <form method="POST" action="/send-mail" class="mt-6 md:mt-0 grid grid-cols-1 md:grid-cols-2 md:border-2 border-blue-500 rounded w-full max-w-lg  text-base md:text-lg lg:text-xl" style="grid-template-columns: 1fr auto;"><input class="bg-gray-100 border border-blue-400 md:bg-transparent md:border-0 outline-none" type="email" name="mail" placeholder="Enter Email"><button class=" md:mt-0 rounded btn-form bg-blue-500 text-white font-semibold md:rounded-none" type="submit">Đăng ký</button></form>
            </div>
        </div>
    </section>
</main>