<form>

    <div>
        <img class="mx-auto d-block" style="width: 100px; height: 100px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFZ8vz43-6E7pSQlWxUhtfJn12fLqoVofExQ&usqp=CAU">
    </div>

    <div style="text-align: center;">
        <p>Đặt hàng đã thực hiện thành công. Trong vòng 30 phút
        <p>cửa hàng sẽ gọi điện thoại lại cho quý khách và xác nhận lại đơn hàng.</p>
        <p>Cảm ơn quý khách đã tin tưởng và ủng hộ.</p>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <img class="h-70 w-50" src="https://pdp.edu.vn/wp-content/uploads/2021/02/hinh-anh-cam-on-dep-y-nghia-nhat-12.jpg">
    </div>
    <br>
    <div style="text-align: center;">
        <a href="/products">
            <button class="btn btn-primary btn-lg btn-block" type="button">Tiếp tục mua sắm</button>
        </a>
    </div>
</form>